.chefs{

    &__inner{
        @media (max-width:1110px){
            max-width: 290px;
        }
    }

    &__title{
        color: hsl(0, 0%, 0%);
        font-family: Tinos;
        @include fluid-text(54, 40);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-top: 1.8em;
        margin-bottom: 1.8em;
    }

   

    &__slide{
        display: flex !important;
        width: 100%;
        flex-direction: row;
        column-gap: 30px;

        @media (max-width:1110px){
            flex-direction: column;
            row-gap: 17px;
        }
    }
}

.low-hidden{
    @media (max-width:1100px){
        display: none !important;
    }
}