$desktop: 1440px;

$tablet: 776px;
$tablet-a: 777px;

$mobile: 517px;

@mixin below-desktop{
    @media (max-width: $desktop){
        @content;
    };
}

@mixin above-tablet{
    @media (min-width: $tablet-a){
        @content;
    }
}

@mixin below-tablet{
    @media (max-width: $tablet){
        @content;
    };
}

@mixin below-mobile{
    @media (max-width: $mobile){
        @content;
    };
}