

@mixin fluid-text($max, $min){
    font-size: clamp(#{$min}px, #{$max / 1440 * 120}vw ,#{$max}px);
}

@mixin fluid-size($max, $min) {
    width: clamp(#{$min}px, #{$max / 1440 * 120}vw ,#{$max}px);
    height: auto;
  }

  @mixin fluid-card($maxH, $maxW, $minW, $minH) {
    width:  clamp(#{$minW}px, #{$maxW / 1440 * 120}vw, #{$maxW}px);
    height: clamp(#{$minH}px, #{$maxH / 1440 * 120}vw, #{$maxH}px);
  }

  @mixin fluid-width($max, $min, $min-vw: 320px, $max-vw: 1440px) {
    width: clamp(
      #{$min}px, 
      #{$max / 1440 * 120}vw,
      #{$max}px
    );
  }

  @mixin fluid-height($max, $min, $min-vw: 320px, $max-vw: 1440px) {
    height: clamp(
      #{$min}px, 
      #{$max / 1440 * 120}vw,
      #{$max}px
    );
  }

  @mixin gap-fluid($max, $min){
    row-gap: clamp(#{$min}px, #{$max / 1440 * 40}vw ,#{$max}px);
  }

  @mixin paddingTop($max, $min){
    padding-top: clamp(#{$min}px, #{$max / 1440 * 65}vw, #{$max}px);
  }

  @mixin abs-center{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin reset-link{
    color: inherit;

    &,
    &:hover{
        text-decoration: none;
    }
}

@mixin reset-button{
    padding: 0;
    background-color: transparent;
    border: none;
}

@mixin square($size){
    width: $size;
    aspect-ratio: 1;
}